/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.box{
    width: 100x;
    height: 100px;
    padding: 100px;
    margin: 100px;
    border: 100px solid #0000;
    background: #343434;
} */
